<p id="notice"><%= notice %></p>

<h1>task</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Start_time</th>
      <th>End_time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @task.title %></td>
        <td><%= @task.text %></td>
        <td><%= @task.start_time %></td>
        <td><%= @task.end_time %></td> 
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
